<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>

<section class="professional-container">
    <div class="professional">
        <img class="professional-img" src="../../../assets/imgs/avatar.png" alt="Professional picture">
        <div class="professional-info">
            <h1 class="professional-title">Professional name</h1>
            <p class="professional-subtitle--container">
                <span class="professional-subtitle">PSICOLOGIST</span><span class="professional-location"> | Lisbon</span>
            </p>
            <div class="professional-review--container">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="professional-review">(20 reviews)</span>
            </div>
            <p><span class="professional-price">R$ 160</span><span class="professional-time"> / 50 MINUTES</span></p>
        </div> 
    </div>
    <p class="professional-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam laboriosam explicabo dicta, ipsam repellendus, cupiditate dolor voluptatum magnam culpa obcaecati, exercitationem earum officiis optio necessitatibus unde iure corrupti ullam nesciunt.</p>
</section>
